
.about-main {
  h1 {
    margin-top: 155px;
    font-family: "Blu's Blocks Regular", sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    color: aqua;
    font-weight: 300;
    margin-bottom: 35px;
  }
}
.about {
  width: 70%;

  background-color: rgb(233 104 19);
  border-radius: 10px;
  border: 5px solid rgba(28, 27, 27, 0.315);
  padding-bottom: 50px;
  pointer-events: none !important;


  p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
  }

  

  h2 {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 40px;
  
  }
}



#big-text {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 600;
}

#bold-text {
  font-weight: 600;
}

.second-letter {
  color: rgb(253, 136, 210);
  margin-left:10px;
}

.third-letter {
  color: greenyellow;
  margin-left:10px;
}

.forth-letter {
  color: wheat;
  margin-left:10px;
}

.fifth-letter {
  color: crimson;
  margin-left:10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

#joe {
  height: 200px;
  border-radius: 100px;
  margin-top: 40px;
  filter: grayscale(100%);
  border: 3px solid silver;

}

@media (max-width: 767px) {
  .about-main {
    h1 {
      margin-top: 155px;
      font-family: "Blu's Blocks Regular", sans-serif;
      text-align: center;
      padding-top: 50px;
      font-size: 60px;
      color: aqua;
      font-weight: 300;
      margin-bottom: 35px;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  #joe {
    height: 130px;
    border-radius: 100px;
    margin-top: 40px ;
    filter: grayscale(100%);
    border: 3px solid silver;
  
  }
  .about {
    width: 95%;
    background-color: rgb(233 104 19);
    border-radius: 10px;
    border: 5px solid rgba(28, 27, 27, 0.315);
    padding-bottom: 20px;
  }
  
  h1 {
    padding-top: 30px !important;
    font-size: 30px !important;
    color: aqua !important;
    font-weight: 300;
    margin-bottom: 35px;
  }
 
  h2 {
    text-align: center;
    font-size: 15px !important;

    margin-bottom: 30px !important;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
  
  }

  #about {
    color: black;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  #big-text {
    margin-top: 5px;
    font-size: 18px !important;
    font-weight: 600;
    color: black;
  }

}