form {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block; /* Labels will be displayed as block elements */
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 140px 0px 140px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group label {
  color: black;
  font-weight: 600;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.contact {
  width: 80%;
  
  h1 {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 70px;
    font-family: "Blu's Blocks Regular", sans-serif !important;
    font-size: 60px;
    color: aqua;
    font-weight: 300;
  }

  h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: wheat;
  }

  h3 {
    font-size: 30px;
    color: wheat;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    margin-top: 5px !important;
    margin-bottom: 30px;
    margin: 0px 68px 30px 68px;
    color: black;
  }
}

form {
  background-color: rgb(233, 104, 19);
  width: 60%;
  border-radius: 10px;
  border: 5px solid rgba(28, 27, 27, 0.315);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}
