@import url('./components/navbar.css');
@import url('./components/hero.css');

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

* {
  box-sizing: border-box;
  margin: 0 auto;
 
}

/* Other styles */
body {
  background-color: rgb(238, 127, 53);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  height: 100vh;
}

.about {
  width: 60%;
  margin-top: 155px;
  
  
  p {
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 35px;
  }

  h1 {
    text-align: center;
    color: wheat;
    margin-top: 60px;

  }
}

.about-me {
  width: 60%;
  margin-top: 10px;
  
  
  p {
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 15px;
  }


}

#big-text {
  margin-top: 5px;
  font-size: 25px;
  color: wheat;
  font-weight: 600;
}

#joe {
  margin-top: 0px;
  margin-left: 220px;
  color:aqua;
  font-weight: 600;
}
